/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "Roboto";
  src:url('/assets/Roboto-Black.ttf') format('truetype'),
  url('/assets/Roboto-BlackItalic.otf') format('truetype'),
  url('/assets/Roboto-Bold.otf') format('truetype'),
  url('/assets/Roboto-BoldItalic.otf') format('truetype'),
  url('/assets/Roboto-Italic.otf') format('truetype'),
  url('/assets/Roboto-Light.ttf') format('truetype'),
  url('/assets/Roboto-LightItalic.ttf') format('truetype'),
  url('/assets/Roboto-Medium.ttf') format('truetype'),
  url('/assets/Roboto-MediumItalic.ttf') format('truetype'),
  url('/assets/Roboto-Regular.ttf') format('truetype'),
  url('/assets/Roboto-Thin.ttf') format('truetype'),
  url('/assets/Roboto-ThinItalic.ttf') format('truetype');
}
@font-face {
  font-family: "Kirvy";
  src:url('/assets/timeburnernormal.ttf') format('truetype'),
  url('/assets/Kirvy-Bold.otf') format('truetype'),
  url('/assets/Kirvy-Light.otf') format('truetype'),
  url('/assets/Kirvy-Regular.otf') format('truetype'),
  url('/assets/Kirvy-Thin.otf') format('truetype');
}
@font-face {
  font-family: "Trench";
  src:url('/assets/trench100free.otf') format('truetype'),
  url('/assets/trench100free.ttf') format('truetype');
}
@font-face {
  font-family: "Burner";
  src:url('/assets/timeburnerbold.ttf') format('truetype'),
  url('/assets/timeburnernormal.ttf') format('truetype')
}
@font-face {
  font-family: "Vertigo";
  src:url('/assets/VertigoFLF-Bold.ttf') format('truetype'),
  url('/assets/VertigoFLF.ttf') format('truetype'),
  url('/assets/VertigoPlusFLF-Bold.ttf') format('truetype'),
  url('/assets/VertigoPlusFLF.ttf') format('truetype');
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: white;
    font-family: Trench;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(159, 200, 242, 1);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: white;
    background-color: #083A80;
    font-family: Trench;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: #D3E5FF;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(159, 200, 242, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: white;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: rgba(159, 200, 242, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white;
}
#nav-dim:hover {
        color: rgba(51, 51, 51, 1);
    background-color: rgba(112, 170, 231, 1)
}

.body {
    margin-top: 4em;
}

.body_color{
    background-color:#D3E5FF;
}

.bg_pic{
    background-image: image-url('Background_1.jpg');
}

.drop-down{
    color:white
}
.drop-down:hover{
    color:grey
}
.dropbtn {
    background-color: #083A80;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family:trench;
    padding-bottom: 16px;
    height: 47px;
    padding-top: 14px;
    font-size:14px;
    border-radius:0px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D3E5FF;
    min-width: 15em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-family:trench;
    font-size:14px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

@media screen and (max-width: 650px){
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #D3E5FF;
    min-width: 100em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

}
.dropdown-content a:hover {background-color: #A0C6FF}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #D3E5FF;
    color:black;
}




