/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/*******/


/*****/

@font-face {
  font-family: "Trench";
  src:url('/assets/trench100free.otf') format('truetype'),
  url('/assets/trench100free.ttf') format('truetype');
}
@font-face {
  font-family: "Burner";
  src:url('/assets/timeburnerbold.ttf') format('truetype'),
  url('/assets/timeburnernormal.ttf') format('truetype')
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: white;
    font-family: Trench;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 18px;
    background-color: rgba(159, 200, 242, 1);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a.rest {
    color: white;
    background-color: #083A80;
    font-family: Trench;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a.rest:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a.rest:focus {
    color: rgba(51, 51, 51, 1);
    background-color: #D3E5FF;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a.rest,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a.rest:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a.rest:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(159, 200, 242, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: white;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: rgba(159, 200, 242, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white;
}
#nav-dim:hover {
        color: rgba(51, 51, 51, 1);
    background-color: rgba(112, 170, 231, 1)
}

.body {
    margin-top: 3.5em;
}

.body_color{
    background-color:#D3E5FF;
}

.bg_pic{
    background-image: image-url('Background_1.jpg');
}

.drop-down{
    color:white
}
.drop-down:hover{
    color:grey
}
.dropbtn {
    background-color: #083A80;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family:trench;
    padding-bottom: 16px;
    height: 47px;
    padding-top: 12px;
    font-size:18px;
    border-radius:0px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D3E5FF;
    min-width: 15em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-family:trench;
    font-size:14px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

@media screen and (max-width: 650px){
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #D3E5FF;
    min-width: 100em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

}
.dropdown-content a:hover {background-color: #A0C6FF}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #D3E5FF;
    color:black;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a{
   background-color: #FFD429;
    color:black;
    font-family: Trench;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus{
    background-color: #EEBC00;
    color:white;

}
/******/

.btn-registration { 
  color: #ffffff; 
  background-color: #05336B; 
  border-color: #02000A; 
  font-family: Burner;
  font-size: 21px;
} 
 
.btn-registration:hover, 
.btn-registration:focus, 
.btn-registration:active, 
.btn-registration.active, 
.open .dropdown-toggle.btn-registration { 
  color: #ffffff; 
  background-color: #01063B; 
  border-color: #02000A; 
} 
 
.btn-registration:active, 
.btn-registration.active, 
.open .dropdown-toggle.btn-registration { 
  background-image: none; 
} 
 
.btn-registration.disabled, 
.btn-registration[disabled], 
fieldset[disabled] .btn-registration, 
.btn-registration.disabled:hover, 
.btn-registration[disabled]:hover, 
fieldset[disabled] .btn-registration:hover, 
.btn-registration.disabled:focus, 
.btn-registration[disabled]:focus, 
fieldset[disabled] .btn-registration:focus, 
.btn-registration.disabled:active, 
.btn-registration[disabled]:active, 
fieldset[disabled] .btn-registration:active, 
.btn-registration.disabled.active, 
.btn-registration[disabled].active, 
fieldset[disabled] .btn-registration.active { 
  background-color: #05336B; 
  border-color: #02000A; 
} 
 
.btn-registration .badge { 
  color: #05336B; 
  background-color: #ffffff; 
}

.container {
    width: 30%;
    margin-top: 15%;
}

.bgcolor{
  background-color: #2961AD;
  width:90em;
  height:25em;
  margin-top:5em;
}

.default{
  color:white;
  font-family: Burner;
}

.bglel{
  width:100em;
  height:100em;
  margin-top:5em;
  margin-left: 6%;
}

.btnn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
/*  -webkit-box-shadow: 3px 5px 20px #666666;
  -moz-box-shadow: 3px 5px 20px #666666;*/
/*  box-shadow: 3px 5px 20px #666666;*/
  font-family: Burner;
  color: black;
  font-size: 24px;
  background: #FFD429;
  padding: 20px 35px 20px 35px;
/*  border: solid #1f628d 1px;*/
  text-decoration: none;
}

.btnn:hover {
  background: #FFDE51;
  color:grey;
  text-decoration: none;
}

.rounded-circle{
  border-radius: 50%;
}